In [1]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
score = {'sub1': [3, 9, 1, 1, 9],
         'sub2': [2, 9, np.nan, np.nan, 8],
         'sub3': [np.nan, 1, 5, 5, 7],
         'sub4': [np.nan, 3, np.nan, 1, np.nan]}
 
df = pd.DataFrame(data=score)
print(df)

   sub1  sub2  sub3  sub4
0     3   2.0   NaN   NaN
1     9   9.0   1.0   3.0
2     1   NaN   5.0   NaN
3     1   NaN   5.0   1.0
4     9   8.0   7.0   NaN

In [2]:
'''
count() 집계함수 실습
'''
print('\n#1 Count Function')
print(df.count())

#1 Count Function
sub1    5
sub2    3
sub3    4
sub4    2
dtype: int64

In [3]:
'''
count 함수에 axis=1 인지 추가한 실습
'''
print('\n#2 Count Function with axis=1')
print(df.count(axis=1))

#2 Count Function with axis=1
0    2
1    4
2    2
3    3
4    3
dtype: int64

In [4]:
'''
sum() 집계함수 실습
'''
print('\n#3 Sum Function')
print(df.sum())

#3 Sum Function
sub1    23.0
sub2    19.0
sub3    18.0
sub4     4.0
dtype: float64

In [5]:
'''
sum() 함수에 skipna=False 인자 추가한 실습
결측 값은 집계 대상에서 제외되므로, 결측 값이 포함될 필요가 있는 경우는 skipna=False 인자를 추가로 지정
'''
print('\n#4 Sum Function with skipna')
print(df.sum(skipna=False))

#4 Sum Function with skipna
sub1    23.0
sub2     NaN
sub3     NaN
sub4     NaN
dtype: float64