In [1]:
import pandas as pd

In [2]:
# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)

    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java

In [3]:
#.info() 함수 실습
print('\n<Summary of DataFrame>')
print(score_df.info())

<Summary of DataFrame>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   score    5 non-null      int64
 2   grade    5 non-null      object
 3   subject  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

In [4]:
#.head() 함수 실습
print('\n<Return the first n rows>')
print(score_df.head(3))

<Return the first n rows>
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python

In [5]:
#.tail() 함수 실습
print('\n<Return the last n rows>')
print(score_df.tail(2))

<Return the last n rows>
    name  score grade subject
3  Jessi     85     B       c
4    Tom     97     A    java

In [6]:
#.sample() 함수 실습
print('\n<Return a random sample>')
print(score_df.sample())

<Return a random sample>
   name  score grade subject
1  Emma     95     A    java

In [7]:
#.sample() 함수의 random_state 인자 실습
print('\n<Return a random sample with random_state>')
print(score_df.sample(2,random_state=10))

<Return a random sample with random_state>
    name  score grade subject
2   Alex     80     B  python
3  Jessi     85     B       c

In [8]:
#.sample() 함수의 flac 인자 실습
print('\n<Return a random sample with flac 50%>')
print(score_df.sample(frac=0.25))

<Return a random sample with flac 50%>
    name  score grade subject
3  Jessi     85     B       c