In [1]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

df = pd.DataFrame(data=d)
print('Sample Data')
print(df)

Sample Data
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java

In [2]:
'''
name 컬럼을 행 인덱스로 바꾸기
'''
print('\n#1 Set Index')
df.set_index('name',inplace=True)
print(df)

#1 Set Index
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

In [3]:
'''
loc[] 를 통해 행 데이터 조회하기
'''
print('\n#2 Access rows')
subset = df.loc[['Jessi','Emma']]
print(subset)

#2 Access rows
       score grade subject
name
Jessi    100     A  python
Jessi     85     B       c
Emma      95     A    java

In [4]:
'''
iloc[] 를 통해 행 데이터 조회하기
'''
print('\n#3 Access rows by index position')
subset = df.iloc[[0,4]]
print(subset)

#3 Access rows by index position
       score grade subject
name
Jessi    100     A  python
Tom       97     A    java

In [5]:
'''
loc[] 의 활용 : Boolean Indexing
'''
print('\n#4 Access rows by boolean indexing')
subset = df.loc[df['score']>=95]
print(subset)

#4 Access rows by boolean indexing
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Tom       97     A    java

In [6]:
'''
loc[] 의 활용 : Boolean Indexing
'''
print('\n#5 Access rows by boolean indexing')
subset = df.loc[df['subject']=='python']
print(subset)

#5 Access rows by boolean indexing
       score grade subject
name
Jessi    100     A  python
Alex      80     B  python