In [1]:
import pandas as pd
import numpy as np

In [3]:
# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
print(df)

   col1  col2  col3
a     0     1     2
b     3     4     5
c     6     7     8
d     9    10    11
e    12    13    14
f    15    16    17

In [5]:
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], index = ['a','e','c'])

In [6]:
print(df)

   col1  col2  col3  col4
a     0     1     2   1.7
b     3     4     5   NaN
c     6     7     8   2.4
d     9    10    11   NaN
e    12    13    14   1.2
f    15    16    17   NaN

In [8]:
df.loc['c'] = None
print(df)

   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [2]:
print('Sample Data')
print(df)

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [9]:
'''
df.info() 함수로 결측치 유무 확인하기
'''
print('\n#1 Summary of DataFrame')
print(df.info())

#1 Summary of DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    5 non-null      float64
 2   col3    5 non-null      float64
 3   col4    2 non-null      float64
dtypes: float64(4)
memory usage: 400.0+ bytes
None

In [11]:
'''
df.isnull() 함수로 결측치 유무 확인하기
'''
print('\n#2 isnull of DataFrame')
print(df.isnull())

#2 isnull of DataFrame
    col1   col2   col3   col4
a  False  False  False  False
b  False  False  False   True
c   True   True   True   True
d  False  False  False   True
e  False  False  False  False
f  False  False  False   True

In [12]:
'''
df.isnull().sum() 함수로 결측치 유무 확인하기
'''
print('\n#4 Sum of all missing values per columns')
print(df.isnull().sum())

#4 Sum of all missing values per columns
col1    1
col2    1
col3    1
col4    4
dtype: int64

In [13]:
'''
df.isnull().sum() 함수에서 데이터 집계 방향 바꾸기
'''
print('\n#5 Sum of all missing values per rows')
print(df.isnull().sum(axis=1))

#5 Sum of all missing values per rows
a    0
b    1
c    4
d    1
e    0
f    1
dtype: int64