In [1]:
import pandas as pd
import numpy as np

In [2]:
# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [3]:
'''
1) 행을 기준으로 결측치 조회하여 제거하기
2) how=all 인자로 전체 nan 인 경우만 제거하기
'''
print('\n#1 Remove missing values')
print(df.dropna(how='all'))
print(df)

#1 Remove missing values
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [4]:
'''
원본 데이터에 반영하기
'''
print('\n#2 Remove missing values with inpalce=True')
df.dropna(how='all', inplace=True)
print(df)

#2 Remove missing values with inpalce=True
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

In [5]:
'''
열을 기준으로 결측치 조회하여 제거하기
'''
print('\n#3 Remove missing values in columns')
print(df.dropna(axis='columns'))

#3 Remove missing values in columns
   col1  col2  col3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0

In [6]:
print(df)
df.iloc[:2, 0] = np.nan #iloc으로 행 선택(0~1행), 0열
df.iloc[:4, 1] = np.nan #iloc으로 행 선택(0~3행), 1열
print('\nSample Data')
print(df)

   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

Sample Data
   col1  col2  col3  col4
a   NaN   NaN   2.0   1.7
b   NaN   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN

In [8]:
'''
결측값을 0 으로 대체하기
'''
print('\n#4 Replace missing values')
print(df.fillna(0))

#4 Replace missing values
   col1  col2  col3  col4
a  12.0   0.0   2.0   1.7
b  12.0   0.0   5.0   0.0
d   9.0   0.0  11.0   0.0
e  12.0   0.0  14.0   1.2
f  15.0  16.0  17.0   0.0

In [9]:
'''
딕셔너리를 활용한 컬럼별 대체값 지정하기
'''
print('\n#5 Replace missing values')
replace_set = {'col2':0,'col4':'100'}
print(df.fillna(replace_set))

#5 Replace missing values
   col1  col2  col3 col4
a  12.0   0.0   2.0  1.7
b  12.0   0.0   5.0  100
d   9.0   0.0  11.0  100
e  12.0   0.0  14.0  1.2
f  15.0  16.0  17.0  100

In [10]:

'''
1)대표값인 평균을 활용하여 결측치 대체하기
2)원본 데이터에 반영하기
'''
print('\n#6 Replace missing values')
replace_set = {'col1':df['col1'].mean()}
df.fillna(replace_set,inplace=True)
print(df)

#6 Replace missing values
   col1  col2  col3  col4
a  12.0   NaN   2.0   1.7
b  12.0   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN