In [1]:
import pandas as pd

In [2]:
# titanic_train.csv 파일 읽기
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/titanic_train.csv'
titanic_df = pd.read_csv(url)
print(type(titanic_df))

<class 'pandas.core.frame.DataFrame'>

In [3]:
print('\nSummary of DataFrame')
print(titanic_df.info())

Summary of DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [4]:
# 읽어온 데이터의 행 데이터 5개를 출력해보세요.
print('\nReturn the first n rows')
print(titanic_df.head(5))

Return the first n rows
   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
# students_score.xlsx 이 저장된 url
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/python-data-analysis/students_score.xlsx'

In [6]:
# 엑셀 파일에서 데이터 읽기
print('\nRead students_score.xlsx')
sample_df = pd.read_excel(url)
print(sample_df)

Read students_score.xlsx
   Jessi  20  100  A  python
0   Emma  24   95  A    java
1   Alex  23   80  B  python
2  Jessi  20   85  B       c
3    Tom  27   97  A    java
4    Sia  28   79  C  python

In [9]:
'''
1) header=none 옵션으로 컬럼 없이 데이터 읽기
2) df.columns 에 새로운 컬럼명 저장하기
'''
sample_df = pd.read_excel(url,header=2)
sample_df.columns= ['name', 'age', 'score', 'grade', 'subject']

print('\nRead Excel by header=none')
print(sample_df)

Read Excel by header=none
    name  age  score grade subject
0  Jessi   20     85     B       c
1    Tom   27     97     A    java
2    Sia   28     79     C  python

In [10]:
# 'students' sheet 에 있는 데이터 읽기
print('\nRead Excel on students sheet')
student_df = pd.read_excel(url,sheet_name='students')
print(student_df)

Read Excel on students sheet
    name  age  etc1  etc2  etc3                email
0    Lee   25   0.1   0.1   0.1    lee@codepresso.kr
1  Hwang   24   0.1   0.1   0.1  hwang@codepresso.kr
2    Kim   28   0.1   0.1   0.1    kim@codepresso.kr
3   Choi   27   0.1   0.1   0.1   choi@codepresso.kr
4   Park   21   0.1   0.1   0.1   park@codepresso.kr
5    Lim   20   0.1   0.1   0.1    lim@codepresso.kr