In [1]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

sample_df = pd.DataFrame(data=d)
sample_df.set_index('name', inplace=True)

print('Sample Data')
print(sample_df)

Sample Data
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

In [2]:
'''
기본 슬라이싱 기법을 통한 행 데이터 조회#1
'''
print('\n#1 Access Rows by slicing')
subset = sample_df[1:4] 
print(subset)

#1 Access Rows by slicing
       score grade subject
name
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c

In [3]:
'''
기본 슬라이싱 기법을 통한 행 데이터 조회#2
'''
print('\n#2 Access Rows by slicing')
subset = sample_df[::2] #start:end:step --> step을 2로
print(subset)

#2 Access Rows by slicing
       score grade subject
name
Jessi    100     A  python
Alex      80     B  python
Tom       97     A    java

In [4]:
'''
기본 슬라이싱 기법을 통한 행 데이터 조회#3
'''
print('\n#3 Access Rows by slicing')
subset = sample_df[:'Alex']
print(subset)

#3 Access Rows by slicing
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python

In [5]:
'''
loc 프로퍼티 활용한 슬라이싱 실습
'''
print('\n#4 Access Rows by loc[slicing]')
subset = sample_df.loc[:'Emma',['subject','grade']]
print(subset)

#4 Access Rows by loc[slicing]
      subject grade
name
Jessi  python     A
Emma     java     A

In [6]:
'''
iloc 프로퍼티 활용한 슬라이싱 실습
'''
print('\n#5 Access Rows by iloc[slicing]')
subset = sample_df.iloc[:4,-1]
print(subset)

#5 Access Rows by iloc[slicing]
name
Jessi    python
Emma       java
Alex     python
Jessi         c
Name: subject, dtype: object